* {
  font-family: monospace;
  box-sizing: border-box;
}

table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left:auto;
        margin-right:auto;
        margin-top: 30px;
        font-size: 15px;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-field {
  width: 250px;
  font-size: 20px;
}

.btn {
  background-color: lightgreen;
}

.list-field {
  font-size: 20px;
  font-family: sans-serif;
  color: darkred;
}

.alert-field {
  font-size: 20px;
}
